<div id="app">
    <section class="tabs">
        <a class="tab active" data-content="#view">View</a>
        <a class="tab" data-content="#add">Add</a>
    </section>
    <section class="tab__wrapper">
        <div id="view" class="tab__content open">
            <section class="container">
                <div class="container--half">
                    <h3>Sort by category:</h3>
                    <button class="button" id="sort-wife">Wife</button>
                    <button class="button" id="sort-girlfriend">Girlfriend</button>
                    <button class="button" id="sort-reset">All</button>
                </div>
                <div class="container--half">
                    <h3>Search</h3>
                    <form class="form">
                        <input type="text" id="search" placeholder="Search by title">
                    </form>
                </div>
            </section>
            <section class="container">
                <div>
                    <button class="button" id="display-date">Date on</button>
                </div>
                <ul id="thumbnail-list" class="thumbnail__list">
                </ul>
            </section>
            <div class="modal" id="modal">
            </div>
            <template id="thumbnail">
                <li class="thumbnail">
                    <button class="thumbnail__delete"></button>
                    <img class="thumbnail__image">
                    <p class="thumbnail__date hidden"></p>
                    <p class="thumbnail__title"></p>
                    <p class="thumbnail__description"></p>
                    <button class="button thumbnail__view-button">View</button>
                    <button class="button thumbnail__edit-button">Edit</button>
                </li>
            </template>
            <template id="view-modal">
                <div class="modal__inner">
                    <button class="modal__close">X</button>
                    <img class="modal__image">
                </div>
            </template>
            <template id="edit-modal">
                <div class="modal__inner">
                    <button class="modal__close">X</button>
                    <form id="edit-image" class="form" enctype="multipart/form-data">
                        <input id="edit-latitude" type="hidden" name="latitude">
                        <input id="edit-longitude" type="hidden" name="longitude">
                        <label for="category">Category</label>
                        <input class="half" type="text" id="edit-category" name="category">
                        <label for="title">Title</label>
                        <input class="half" type="text" id="edit-title" name="title">
                        <label for="description">Description</label>
                        <textarea class="half" id="edit-description" name="description"></textarea>
                        <button class="button" type="submit">Save</button>
                    </form>
                </div>
            </template>
            <div id="map"></div>
        </div>
        <div id="add" class="tab__content">
            <section class="container">
                <h2>Add new event</h2>
                <form id="add-image" class="form" enctype="multipart/form-data">
                    <input id="add-latitude" type="hidden" name="latitude">
                    <input id="add-longitude" type="hidden" name="longitude">
                    <label for="category">Category</label>
                    <input class="half" type="text" id="add-category" name="category">
                    <label for="title">Title</label>
                    <input class="half" type="text" id="add-title" name="title">
                    <label for="description">Description</label>
                    <textarea class="half" id="add-description" name="description"></textarea>
                    <label for="image">Image</label>
                    <input id="image" name="image" type="file">
                    <button class="button" type="submit">Submit</button>
                </form>
            </section>
        </div>
    </section>
</div>
<script>
    var initMap = () => {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 60.2219229,
                lng: 24.8033403,
            },
            zoom: 8,
        });

        marker = new google.maps.Marker({
            position: {
                lat: 60.2219229,
                lng: 24.8033403
            },
            map: map,
            draggable: true
        });
    };
</script>
<script src="index.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuNv7w4l_Nrraubfn4r0-CV0VjkdWaxcc&callback=initMap">
</script>